# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Virtual environment
env/
venv/
ENV/
VENV/
.venv/
.ENV/
.Python

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# SQLite database
*.sqlite3
*.db

# Media & Static (optional)
media/
staticfiles/
static_root/
media_root/

# Local settings (если есть)
local_settings.py
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Coverage / testing
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/
__pypackages__/

# Docker (если используешь)
*.pid
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log

# Other
*.bak
*.swp
*.tmp
